# This .gitignore is appropriate for repositories deployed to GitHub Pages
# using the Hugo site builder and Blowfish hugo theme.

# built website under public (default directory hugo builds into)
/public

# build website under docs (directory which git deploys from)
/docs

# css files and whatnot
/resources

